<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7b76d">  <td>19/12/09 21:21:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openApplication()[pri:0, instance:Test.Test_WolframAlfa@3891771e]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td>  <td>main@1640639994</td>   <td></td> </tr>
<tr bgcolor="94e299">  <td>19/12/09 21:22:17</td>   <td>52099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_WolframAlfa.WolframAlfaTest()[pri:0, instance:Test.Test_WolframAlfa@3891771e]">WolframAlfaTest</td> 
  <td>main@1640639994</td>   <td></td> </tr>
<tr bgcolor="a7b76d">  <td>19/12/09 21:23:16</td>   <td>111781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeApplication()[pri:0, instance:Test.Test_WolframAlfa@3891771e]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td>  <td>main@1640639994</td>   <td></td> </tr>
</table>
